.aboutUs{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    background: #e2e7ec;
    justify-content: space-evenly;
    gap: 16px;
}
.aboutUs .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutUs .informacion{
    flex-direction: column;
}
.aboutUs .informacion ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.aboutUs ul li{
    display: flex;
    justify-content: center;
    align-items: center;

}
.aboutUs ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: #464646;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    padding: 16px;
    background: #e2e7ec;
}
.contact form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact form fieldset{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contact  form fieldset legend{
    font-size: 16px;
    font-weight: 700;
    color: #464646;
    font-style: normal;
    line-height: normal;
}
.contact form  fieldset .nombre{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 7px 12px;
    background: white;
    border-radius: 4px;
    border-bottom: 1px solid #c8c8c8;
}
.contact form fieldset .mensaje-error{
    font-size: 14px;
    color: red;
}
.contact form  fieldset .input-vacio{
    border: 1px solid red;
}
.contact form fieldset .nombre label{
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #a2a2a2;
}
.contact form fieldset .nombre input{
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;

}
.contact form fieldset .text-area{
    width: 100%;
}
.contact form fieldset .text-area textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 16px 12px 0 12px;
    border-radius: 4px;
    border: none;
    outline: none;
    height: 82px;
}
.contact form fieldset .text-area textarea::placeholder{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #a2a2a2;
}
.contact form .input-boton{
    width: 133px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    font-size: 14px;
    color: #FFF;
    background: #2a7ae4;
    border: none;
}

@media screen and (min-width: 768px) {
    .aboutUs{
        align-items: flex-start;
        flex: 1 0 0;
        flex-direction: row;
        padding: 32px;
    }
    .aboutUs .logo{
        justify-content: flex-start;
    }
    .aboutUs .informacion ul{
        align-items: flex-start;
    }
    .informacion{
        max-width: 254px;
        width: 100%;
        align-items: flex-start;
    }
    .contact{
        max-width: 434px;
        width: 100%;
    }
    .contact form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 700px;
        width: 100%;
        box-sizing: border-box;
    }
}
@media screen and (min-width: 1200px) {
    .aboutUs{
        padding: 64px;
    }
    .aboutUs .informacion{
        display: flex;
        flex-direction: row;
        max-width: 470px;
        gap: 112px;
    }
    .aboutUs .informacion ul{
        align-items: flex-start;
        gap: 24px;
    }
    .aboutUs .informacion ul li{
        align-items: flex-start;
        justify-content:left;
    }
    .contact{
        padding: 0;
    }
    .contact form{
        max-width: 560px;
        width: 100%;
    }
}