.banner{
    background: url(/img/img-banner-02.png) no-repeat;
    background-size: cover;
    height: 192px;
    width: 100%;
    background-position: center;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.banner .info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
    font-family: 'Raleway', sans-serif;
    height: 160px;
    box-sizing: border-box;
}
.banner .info h1{
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    font-style: normal;
}
.banner .info p{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}
.banner .info a{
    padding: 12px 16px;
    width: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #2a7ae4;
    color: #FFFFFF;
}
@media  screen and (min-width:760px) {
    .banner{
        height: 352px;
        padding: 32px;
    }
    .banner .info{
        gap: 16px;
        height: 160px;
    }
}
@media  screen and (min-width:1024px) {
    .banner .info{
        padding-left: 50px;
    }
    .banner .info h1{
        font-size: 52px;
        font-weight: 700;
    }
    .banner .info p{
        font-size: 22px;
    }
    .banner .info a{
        height: 51px;
    }
    
}