.section-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    gap: 16px;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
}
.section-products .categoria{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.section-products .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 16px;
}
.section-products .title h2{
    font-size: 22px;
    font-weight: 700;
    color: #464646;
}
.section-products .title a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    color: #2a7ae4;
    text-decoration: none;
    cursor: pointer;
}
.section-products .boxes{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
}
.section-products .boxes .product-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 156px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.section-products .boxes .product-box:hover{
    box-shadow: 0px 0px 10px rgba(67, 164, 243, 0.7);
}
.section-products .boxes .product-box img{
    width: 100%;
    height: 174px;
    border-radius: 5px 5px 0 0;
}
.section-products .boxes .product-box h3{
    color: #464646;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
}
.section-products .boxes .product-box h4{
    color: #464646;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
}
.section-products .boxes .product-box a{
    text-decoration: none;
    font-size: 14px;
    color: #2a7ae4;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 5px;
}
@media screen and (min-width:768px) {
    .section-products{
        padding: 32px;
    }
    .section-products .categoria{
        max-width: 1069px;
        padding: 32px 0;
    }
    .section-products .categoria .title{
        padding-bottom: 16px;
    }
    .section-products .boxes .product-box{
        width: 164px;
    }
    .section-products .boxes{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
    }
}

